<div class="main_content floatleft">
        <h1>About</h1>
        <div>
             <div>
                <div>
                        <p>The News Reporter is a broadsheet semi-weekly (Monday and Thursday) newspaper based in Whiteville, North Carolina. The paper was founded in 1896 and serves Columbus County, North Carolina, United States. The News Reporter won the Pulitzer Prize for Public Service in 1953, shared with the Tabor City Tribune, for reporting of Ku Klux Klan activities in Columbus County, NC.[1][2][3]
  
                                The paper is currently owned by the Thompson/High family, and has been since 1938.[4] The family also own NR Digital Service: Operating as the news papers in house marking service.[5]
                                
                                In addition to the semi-weekly newspaper publication, they publish 954 mag, a bi-annual lifestyle magazine in May and November. The News Reporter also publishes Flourish, a bi-annual women's magazine and Sports Life, a sports e-newsletter.
                                
                                The News Reporter has been owned by the Thompson/High family since 1938. The paper has a circulation of more than 8,100, according to its website, and has an in-house digital advertising agency, NR Digital Services.[6]</p>       
                </div>
            </div>
        </div> 
</div>
<app-sidebar></app-sidebar>
  