<h1 class="text-center">Change Password</h1>
<form [formGroup]="myform" (ngSubmit) = changepass()>
    <div class ="form-group" >
        <label>Old Password</label>
        <input type="password" class="form-control" formControlName="oldpass">
    </div>
    <div class ="form-group" >
            <label>New Password</label>
            <input type="password" class="form-control"formControlName="newpass">
    </div>
    <div class ="form-group" >
         <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="conpass">
    </div><br>
    <input type="submit" value="Submit"  class="btn btn-success">
</form>
